@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --base-color: white;
    --accent-color: #ffffff;
    --text-color: #000000;
    --secondary-text-color: #755ed0;
    --primary-bg-color: #1873ba;
    --bg-gradient: linear-gradient(
        135deg,
        #f7f8ff 0%,   /* very soft blue */
        #f1f3ff 35%,  /* blue-white */
        #f1f1f1 65%,  /* neutral balance */
        #ece9ff 100% 
    );

}
/* .dark-mode {
    --base-color: #393636;
    --accent-color: #1f1f1f;
    --text-color: #ffffff;
    --secondary-text-color: #8171e7;
    --primary-bg-color: #91c6ee;
    --box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    --bg-gradient: linear-gradient(
        135deg,
    #0e0c1d 0%,
    #131127 50%,
    #1b1840 100%
    );

} */
body {
    font-family: 'Exo 2', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    scroll-behavior: smooth;
    background: var(--bg-gradient);
    color: var(--text-color);
}

#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--accent-color);
    padding: 10px 0;
    z-index: 1000;
    backdrop-filter: blur(10px);
    transition: background-color 0.3s;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
    
}

.nav-brand h3 {
    margin: 0;
    color: var(--secondary-text-color);
    font-size: 1.5em;
    font-weight: bold;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding-right: 150px;
    display: flex;
    align-items: center;
}

#navbar li {
    margin: 0 20px;
}

#navbar a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s, transform 0.3s;
    padding: 10px 15px;
    border-radius: 5px;
}

#navbar a:hover, #navbar a.active {
    color: var(--secondary-text-color);
    transform: scale(1.1);
}

section {
    padding: 80px 20px 50px;
    min-height: 80vh;
    opacity: 0;
    margin:  0 100px;   
    transform: translateY(50px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.home {
    display: flex;
    justify-content: space-between;
}
.home .content-home {
    width: 50%;
}
.content-home h1{
    font-size: 4em;
    color: var(--secondary-text-color);
    margin-bottom: 20px;
}
.content-home p{
    font-size: 1.5em;
}
.my-photo {
    width: 40%;
    display: flex;
    margin-top: 70px;
}
.my-photo img {
    width: 350px;
    height: 440px;
    border-radius: 10PX;
    box-shadow: 0 0 50px var(--primary-bg-color);
    transition: transform 0.3s;
    margin-left: 100px;
    filter: grayscale(0.2) contrast(1.1);
    animation: photoan infinite ease-in-out 4s;
}
@keyframes photoan {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    
}
.my-photo img:hover {
    transform: scale(1.1);
}
section.animate {
    opacity: 1;
    transform: translateY(0);
}


section h1 {
    color: var(--text-color);
    margin-bottom: 20px;
    font-size: 2.5em;
    text-shadow: 2px 2px 4px rgba(80, 78, 195, 0.5);
}

.btn-cv{
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--secondary-text-color);
    color: var(--base-color);
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s;
    margin: 20px 0;

}
.btn-cv a{
    color: var(--base-color);
    text-decoration: none;
}
.btn-cv:hover {
    background-color: var(--text-color);
    transform: scale(1.1);
}
.socmed a{
    color: var(--secondary-text-color);
    margin: 20px 20px 20px 0px;
    font-size: 2em;
    transition: color 0.3s, transform 0.3s;
}


.about-pic {
    display: block;
    margin: 0 auto 20px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
    background-color: var(--base-color);
}
.about-pic img{
    width: 100%;
    height: 40%;
}

.about-pic:hover {
    transform: scale(1.1);
}
.about{
    text-align: center;
    color: var(--text-color);

}
.pages{
    text-align: center;
}
.pages h1{
    margin-bottom: 50px;
}
.all-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.project {
    display: inline-block;
    width: 100%;
    height: 300px;
    margin: 20px;
    padding: 20px;
    background-color: var(--primary-bg-color);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.project:hover {
    transform: translateY(-50px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.project h2 {
    color: var(--text-color);
    text-align: center;
}
